* {
    box-sizing: border-box;
}

body {
   margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    width: 100%;
    padding: 20px;
    text-align: center;
    background-color: #5a67d8;
    color: white;
    font-size: 24px;
    
}

main {
    display: flex;
    flex: 1;
    width: 95%;
    margin: 20px auto;
}

.left-column {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: #40e0d0;
}

.box {
    padding: 20px;
    background-color: #fcd34d;
    height: 200px;
}

aside {
    flex: 1;
    background-color: #f472b6;
    margin-left: 20px;
    padding: 20px;
    color: white;
}

footer {
    width: 100%;
    text-align: center;
    padding: 15px;
    background-color: #5a67d8;
    color: white;
    margin-top: auto;;
}
